/* Hide number input spinners (Chrome, Safari, Edge, Firefox) */
input.no-spinner[type="number"]::-webkit-outer-spin-button,
input.no-spinner[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.no-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
